<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ADGV" version="0.1.0.10" targetFramework="net45" />
  <package id="ExcelDataReader" version="3.6.0" targetFramework="net471" />
  <package id="log4net" version="2.0.8" targetFramework="net45" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net471" />
  <package id="Microsoft.Report.Viewer" version="11.0.0.0" targetFramework="net45" />
  <package id="Snippet" version="1.0.2" targetFramework="net45" />
  <package id="ZXing.Net" version="0.16.4" targetFramework="net45" requireReinstallation="true" />
</packages>